.intro {
    height: calc(100vh - 50px);
    //    height: auto;
    video {
        width: 100%;
        margin-top: -50px;
    }

    div {
        width: 100%;
        height: calc(100vh - 50px);
        // height: 100vh;
        position: absolute;
        top: 0;
    }
}
